<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Bootstrap Sample</title>

{% load static %}
<!-- BootstrapのCSS読み込み -->
<link href="{% static 'kabuTool/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'kabuTool/css/dashboard.css' %}" rel="stylesheet">

<!-- jQuery読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- BootstrapのJS読み込み -->
<script src="{% static 'kabuTool/js/bootstrap.min.js' %}"></script>

<style type="text/css">/* Chart.js */
	@-webkit-keyframes chartjs-render-animation {
		from {
			opacity: 0.99
		}
		to {
			opacity: 1
		}
	}

	@keyframes chartjs-render-animation {
		from {
			opacity: 0.99
		}
		to {
			opacity: 1
		}
	}

	.chartjs-render-monitor {
		-webkit-animation: chartjs-render-animation 0.001s;
		animation: chartjs-render-animation 0.001s;
	}

	.nav-line {
	    margin: 10px 20px;
	    border-top: solid 1px #dbdbdb;
	}
</style>
</head>
<body>
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="./">
			Company name
		</a>
		<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="#">
					Sign out
				</a>
			</li>
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link active" href="#">
								<span data-feather="bar-chart-2"></span>
									条件検索
								<span class="sr-only">
									(current)
								</span>
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file"></span>
									企業比較
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="layers"></span>
									株価ダウンロード
							</a>
						</li>
					</ul>

					<div class="nav-line"></div>

					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
									このサイトについて
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
									基本的な使い方
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
									指標の定義
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="file-text"></span>
									よくある質問
							</a>
						</li>
					</ul>
				</div>
			</nav>
{% block body %}
{% endblock %}
</body>