<!DOCTYPE html>
<html>
	<head lang="ja">
	 	<meta charset="UTF-8">
	  	<title>mysite</title>
	  	{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

		<p class="headColor">
			<a href="/polls">トップページへ(将来的には画像にしたい。)</a>
		</p>
	</head>

	<body>
		<div id="content">
			<div id="main">
				{% block body %}
				{% endblock %}
			</div>
			<nav>
				<div class="center">
<!-- 					<a href="/polls/1"> -->
<!-- 						<img src="{% static 'polls/images/calc.png' %}" alt="リンク1"><br> -->
<!-- 					</a> -->
					<a href="/polls">リンク１</a><br>
					<a href="/polls">リンク１</a><br>
				</div>

			</nav>
		</div>
	</body>

	<footer>
		<p>制作者：JNK</p>
	</footer>
</html>